@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  display: flex;
  min-height: 90px;
  background: #000;
  color: #ebebeb;
  align-items: center;
  flex-wrap: wrap;
}
.top-bar__nav-toggle {
  margin: 0px 100px;
  display: inline-block;
  color: #ebebeb;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  min-width: 55px;
  text-align: center;
  transition: 0.25s;
}
.top-bar__nav-toggle:focus {
  outline: none;
  transform: scale(1.1);
}
.top-bar__brand {
  color: #ebebeb;
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.25s;
}
.top-bar__contact {
  margin-left: auto;
}
.top-bar__contact a {
  color: #ebebeb;
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
}
.top-bar__social {
  display: flex;
  height: 90px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 110px;
  transition: 0.25s;
}
.top-bar__social a {
  color: #ebebeb;
  font-size: 35px;
}
@media (max-width: 1000px) {
  .top-bar__nav-toggle {
    margin-right: 0;
  }
  .top-bar__brand {
    flex: 1;
  }
  .top-bar__contact {
    display: none;
  }
  .top-bar__social {
    margin-left: auto;
  }
}
@media (max-width: 700px) {
  .top-bar__nav-toggle {
    margin-left: 20px;
  }
  .top-bar__social {
    margin-right: 20px;
  }
}
.top-bar__nav {
  width: 100%;
  background: #000;
  transition: 0.25s;
  max-height: 400px;
  overflow: hidden;
}
.top-bar__nav.collapsed {
  max-height: 0;
  min-height: 0;
}
.top-bar__nav-list {
  list-style: none;
  padding: 0;
}
.top-bar__nav-list li {
  padding: 1rem;
  text-align: center;
}
.top-bar__nav-list a {
  color: #ebebeb;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.4rem;
  transition: 0.25s;
  border-bottom: 2px solid transparent;
}
.top-bar__nav-list a:hover {
  transform: scale(1.2);
  filter: brightness(140%);
  border-bottom: 2px solid #ebebeb;
}

.hamburger {
  position: relative;
  height: 50px;
}
.hamburger span {
  width: 50px;
  height: 7px;
  position: absolute;
  background: #ebebeb;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 3px;
}
.hamburger span:nth-child(1) {
  top: 20%;
  transition: top 0.125s 0.25s, transform 0.125s;
}
.hamburger span:nth-child(2) {
  top: 50%;
  transition: top 0.125s 0.25s, transform 0.125s;
}
.hamburger span:nth-child(3) {
  top: 80%;
  transition: top 0.125s 0.25s, transform 0.125s;
}
.hamburger.closed span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}
.hamburger.closed span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}
.hamburger.closed span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}


.welcome-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1;
  animation: moveTop 2s 11s forwards;
}

.content {
  user-select: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5vw;
  font-family: "verdana";
  font-weight: bold;
  letter-spacing: 20px;
  opacity: 0;
  animation: opacity 2s 2s forwards 1 ease-in-out;
  position: relative;
}
.content p {
  position: relative;
  width: 80%;
  text-align: center;
  opacity: 1;
  text-shadow: 10px 0px 2px rgba(255, 255, 255, 0.5);
  animation: textShadow 3s 4s alternate infinite;
}
.content p:before {
  content: attr(data-shadow);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(2);
  filter: blur(4px);
  opacity: 0;
  animation: rightToLeft 3s 3s forwards 1 ease-in-out;
}
.content span {
  animation: backToPosition 2s 2s forwards 1 ease-in-out;
  position: relative;
  color: transparent;
}
.content span:before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 5%;
  width: 90%;
  height: 5px;
  background: white;
  opacity: 0;
  filter: blur(5px);
  animation: opacity 1s 5s alternate infinite;
}
.content span:nth-of-type(1) {
  top: -70px;
  left: -40px;
}
.content span:nth-of-type(2) {
  top: 20px;
  left: -50px;
}
.content span:nth-of-type(2):before {
  animation: opacity 1s 5.25s alternate infinite;
}
.content span:nth-of-type(3) {
  top: -50px;
  left: 0px;
}
.content span:nth-of-type(3):before {
  animation: opacity 1s 5.5s alternate infinite;
}
.content span:nth-of-type(4) {
  top: -90px;
  left: -40px;
}
.content span:nth-of-type(4):before {
  animation: opacity 1s 5.75s alternate infinite;
}
.content span:nth-of-type(5) {
  top: 100px;
  left: -10px;
}
.content span:nth-of-type(5):before {
  animation: opacity 1s 6s alternate infinite;
}
.content span:nth-of-type(6) {
  top: -60px;
  left: 20px;
}
.content span:nth-of-type(6):before {
  animation: opacity 1s 6.25s alternate infinite;
}
.content span:nth-of-type(7) {
  top: -80px;
  left: 70px;
}
.content span:nth-of-type(7):before {
  animation: opacity 1s 6.5s alternate infinite;
}

.corner {
  width: 50px;
  height: 50px;
  animation: scale 2s alternate infinite ease-in;
  filter: blur(2px);
  position: absolute;
  opacity: 0.1;
}
.corner:nth-of-type(1) {
  top: 2rem;
  left: 2rem;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.corner:nth-of-type(2) {
  top: 2rem;
  right: 2rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  animation-delay: 0.5s;
}
.corner:nth-of-type(3) {
  bottom: 2rem;
  left: 2rem;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  animation-delay: 1s;
}
.corner:nth-of-type(4) {
  bottom: 2rem;
  right: 2rem;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation-delay: 1.5s;
}

.continue {
  filter: blur(1px);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid white;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px white inset;
  cursor: pointer;
  background: linear-gradient(90deg, transparent 33%, white 34%, transparent 35%, transparent 65%, white 66%, transparent 67%);
  background-size: 300%;
  background-position: left;
  transition: all 0.5s;
  animation: opacity 2s 7s forwards 1;
  opacity: 0;
}
.continue:hover {
  background-position: right;
  color: green;
  filter: blur(0);
}

.right-vert-line {
  position: absolute;
  background: linear-gradient(transparent, green);
  opacity: 1;
  top: 0;
  bottom: 0;
  right: -5%;
  width: 2px;
  animation: moveToLeft 2s 1s forwards ease-in-out;
  filter: blur(1px);
}

.left-vert-line {
  position: absolute;
  background: linear-gradient(green, transparent);
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 105%;
  width: 2px;
  animation: moveToRight 2s 1s forwards ease-in-out;
  filter: blur(1px);
}



@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backToPosition {
  to {
    left: 0;
    top: 0;
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translate(-35%, 0) scale(2);
  }
  10% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.01;
  }
  100% {
    transform: translate(-65%, 0) scale(2);
    opacity: 0;
  }
}
@keyframes moveTop {
  0% {
    opacity: 1;
  }
  100% {
    top: -100%;
    bottom: 100%;
    opacity: 0;
  }
}
@keyframes textShadow {
  from {
    text-shadow: 10px 0px 2px rgba(255, 255, 255, 0.5);
    filter: blur(0px);
  }
  to {
    text-shadow: 5px 0px 2px rgba(255, 255, 255, 0.5);
    filter: blur(1px);
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  transform: rotateX(45deg) rotate(45deg);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  animation: opacity 1s 12s 1 forwards;
}

.icons {
  display: flex;
  align-items: center;
  transform: rotate(-45deg);
  min-width: 220px;
}

.icon {
  display: flex;
  align-items: center;
  flex: 1;
  height: 210px;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  user-select: none;
}




.git {
  justify-content: flex-start;
  transition: color 0.4s;
}
.git:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #24292E;
  transition: right 0.4s;
  z-index: -1;
}
.git:hover {
  color: white;
}
.git:hover:before {
  right: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: "Verdana";
  display: flex;
  align-items: center;
  justify-content: center;
}